* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: black; 
}

.container {
  width: 380px;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  overflow: hidden;
}